<html>

<head>
</head>

<body>

    <!-- Base64 Encode -->
    <label for="base64encode_from">base64 Encode text:</label><br>
    <textarea id="base64encode_from" name="base64encode_from" placeholder="Input plain text" rows="10" cols="50"></textarea>
    <textarea id="base64encode_result" placeholder="result" rows="10" cols="50"></textarea>

    <br>
    <br>

    <!-- Base64 Decode -->
    <label for="base64decode_from">base64 Decode text:</label><br>
    <textarea id="base64decode_from" name="base64decode_from" placeholder="Input plain text" rows="10" cols="50"></textarea>
    <textarea id="base64decode_result" placeholder="result" rows="10" cols="50"></textarea>



    <script src="/static/b64.js"></script>
</body>

</html>