<html>

<head>

    <style type="text/css">
        .running{ color: #40bd19; font-weight:bolder; }
        .stopped{ color: #bebebe; }
        .btn-terminate{ background: #e96b6b;}
    </style>

</head>

<body>

<h1>EC2</h1>

<h2>Running</h2>
<table border=1>
    <tr>
        <th>インスタンス名</th>
        <th>ステータス</th>
        <th>タイプ</th>
        <th>Private IP</th>
        <th>Public IP</th>
        <th>起動/停止</th>
    </tr>
    {% for item in running_list %}
    <tr>
        <td>{{ item.name }}</td>
        <td class="{% if item.state == 'running' %}running{% else %}stopped{% endif %}">{{ item.state }}</td>
        <td>{{ item.instance_type}}</td>
        <td>{{ item.private_ip }}</td>
        <td>{{ item.public_ip }}</td>
        <td> <input type="button" onclick="ec2_stop('{{ item.name }}', '{{ item.instance_id }}')" value="Stop"> </td>
    </tr>
    {% endfor %}
</table>

<h2>Not Running</h2>
<table border=1>
    <tr>
        <th>インスタンス名</th>
        <th>ステータス</th>
        <th>タイプ</th>
        <th>Private IP</th>
        <th>Public IP</th>
        <th>起動/停止</th>
    </tr>
    {% for item in not_running_list %}
    <tr>
        <td>{{ item.name }}</td>
        <td class="{% if item.state == 'running' %}running{% else %}stopped{% endif %}">{{ item.state }}</td>
        <td>{{ item.instance_type}}</td>
        <td>{{ item.private_ip }}</td>
        <td>{{ item.public_ip }}</td>
        <td> <input type="button" onclick="ec2_start('{{ item.instance_id }}')" value="Start">
        <input type="button" class="btn-terminate" onclick="ec2_terminate('{{ item.name }}', '{{ item.instance_id }}')" value="Terminate"> </td>
    </tr>
    {% endfor %}
</table>

<br>
<input type="button" onclick="ec2_create_template()" value="Create(いつもの)">




<script>

    // １分毎にリフレッシュ
    setTimeout("location.href=location.href",60*1000);

    // Send EC2 Start
    function ec2_create_template()
    {
        let yesno = window.confirm('いつもの設定でインスタンスを作成しますか？');

        if (yesno) {
            fetch("/aws/create_template");
            setTimeout("location.href=location.href",500);
        }
    }

    // Send EC2 Start
    function ec2_start(instance_id)
    {
        fetch("/aws/start?instance_id=" + instance_id);
        setTimeout("location.href=location.href",500);
    }

    // Send EC2 Stop
    function ec2_stop(name, instance_id)
    {
        let yesno = window.confirm(name + ' / ' + instance_id + 'を停止してもよろしいですか？');

        if (yesno) {
            fetch("/aws/stop?instance_id=" + instance_id);
            setTimeout("location.href=location.href",500);
        }
    }

    // Send EC2 Terminate
    function ec2_terminate(name, instance_id)
    {
        let yesno = window.confirm(name + ' / ' + instance_id + 'を削除してもよろしいですか？\n\n注意: この操作は戻せません。');

        if (yesno) {
            fetch("/aws/terminate?instance_id=" + instance_id);
            setTimeout("location.href=location.href",500);
        }
    }

    // EC2 Start/Stop Action
    function ec2_action(name, instance_id, state){
        if (state == 'stopped')
        {
            // start
            ec2_start(instance_id);
        }
        else
        {
            // stop
            ec2_stop(name, instance_id);
        }

        // ボタン非表示
        this.value = "hoge";
        // this.parentNode.style.display = "none";
    }
</script>



</body>

</html>